body { 
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #ffffff;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.container {
    width: 100%;
    max-width: 800px;
    /* border: 2px solid red; */
}

.search-box {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
    /* border: 2px solid rgb(179, 255, 0); */
}

form {
    background-color: #2d2d2d;
    padding: 20px;
    border-radius: 8px;
    margin: 20px 0;
    text-align: center;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

input, select, textarea {
    width: 100%;
    padding: 8px 0px;
    margin-top: 5px;
    background-color: #3d3d3d;
    border: 1px solid #4d4d4d;
    color: white;
    border-radius: 4px;
}

button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    min-width: 120px;
}

button:disabled {
    background-color: #2d2d2d;
    cursor: not-allowed;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #2d2d2d;
}

th, td {
    padding: 12px;
    text-align: left;
    border: 1px solid #4d4d4d;
}

th {
    background-color: #3d3d3d;
}

h1, h2 {
    color: #4CAF50;
    text-align: center;
}

.search-result {
    background-color: #2d2d2d;
    border: 1px solid #4d4d4d;
    padding: 15px;
    margin-top: 10px;
    border-radius: 4px;
    display: none;
}

.error-message {
    color: #ff6b6b;
    font-size: 0.8em;
    margin-top: 5px;
    display: none;
}

.button-container {
    text-align: center;
    margin: 15px 0;
    width: 100%;
}
